<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Page</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header>
        <nav>
            <div class="top-options">
                <form action="/chats" method="get">
                    <button type="submit">Chats</button>
                </form>
                <form action="/secrets" method="get">
                    <button type="submit">Secrets</button>
                </form>
                <form action="/users" method="get">
                    <button type="submit">Users</button>
                </form>
                <form action="/profile" method="get">
                    <button type="submit">Profile</button>
                </form>
                <form action="/logout" method="get">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <!-- Display past messages -->
        {% for message in secrets %}
        <div class="message">
            <a href="/users/{{ message[0] }}" class="avatar-link">
            <div class="avatar" style="background-image: url('static/avatars/{{message[0]}}.png')"></div>
            </a>
            <a href="/users/{{ message[1] }}" class="avatar-link">
            <div class="avatar" style="background-image: url('static/avatars/{{message[1]}}.png')"></div>
            </a>
            <div class="message-content">
                {% if message[0] == current_user  and message[1] == current_user %}
                <p class="sender-name">You to Yourself</p>
                {% elif message[0] == current_user %}
                <p class="sender-name">You to {{message[1]}}</p>
                {% elif message[1] == current_user %}
                <p class="sender-name">{{ message[0] }} to You</p>
                {% else %}
                <p class="sender-name">{{ message[0] }} to {{message[1]}}</p>
                {% endif %}
                <p class="message-info">Encrypted Message:</p>
                <p class="message-content">{{ message[2] }}</p>
                {% if message[3] %}
                <p class="message-info">Decrypted Message:</p>
                <p class="message-content">{{ message[3] }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <!-- Form for posting new messages -->
        
    <form action="/secrets" method="post">
        <label for="recipient"><b>Select Recipient:</b></label>
        <select name="recipient" id="recipient">
            {% for user in users %}
                <option value="{{ user }}">{{ user }}</option>
            {% endfor %}
        </select>

        <br>
        <label for="message"><b>Enter Your Secret Message:</b></label>
        <br>
        <textarea name="message" id="message" rows="4" cols="100" required></textarea>

        <button type="submit">Send</button>
    </form>
    </div>
</body>
</html>
